body {
	background-image: url(../images/background.jpg);
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 1px;
}

h1 {
	text-align: center;
	color: white;
	font-size: 56px;
}

h2 {
	color: white;
}

.card {
	background-color: white;
	padding:  20px 20px 0px 20px;
	

}

.card:hover {
	background-color: lightgray;
}

p {
	font-size: 12px;
}